
.container__login {
    height: 400px;
    width: 400px;
    background-color: rgb(236, 239, 241) ;
}

.box__login {
    height: calc(100% - 20px);
    width: calc(100% - 20px);

    // padding: 20px 40px;
    // background-color: rgb(224, 247, 250);

    & > .header__login {
        font-size: 20px;
        margin-bottom: 20px;
    }

    & > .form > .form-group {

        margin-bottom: 10px;

        & > input {
            width: 300px;
            margin-top: 5px;
        }
    }
    
    & .form-group {
        width: 300px;
        margin-bottom: 10px;
    }

}

.button__login--signin {
    margin-top: 10px;
}