$content-padding : 30px;
$height-header : 60px;

.navbar__dyap {
    padding-left: $content-padding;
    padding-right: $content-padding;
    background-color: rgb(178, 223, 219);
    height: $height-header;
}

.container__dyap {
    height: calc(100vh - $height-header);
}